{% extends 'appTelovendo/base.html' %}

{% comment %} {% block style%} <link rel="stylesheet" href="{%static 'css/stilos.css'%}">{% endblock style%} {% endcomment %}

{%block title%} Inicio de Sesión {%endblock%}
{%load static%}
{% block content%}  
<div class="container ">
    <h1 class="text-center">Inicia sesión</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form action="" method= "POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary w-100" type="submit" value = "Enviar">
            </form>
        </div>
    </div>  
</div>
{% endblock content %}